body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(
        to right,
        #f3d2a2,
        #ff7a18
    );
}

.container {
    width: 350px;
    margin: 80px auto;
    padding: 30px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.1);
    text-align: center;
}

.logo {
    width: 120px;
    margin-bottom: 15px;
}

h2 {
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background: #ff6600;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #e65c00;
}

.error {
    color: red;
    margin-bottom: 10px;
}

.toggle {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    font-size: 14px;
    color: #555;
    user-select: none;
}

.toggle input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}


.slider {
    width: 42px;
    height: 22px;
    background: #ccc;
    border-radius: 50px;
    position: relative;
    transition: background 0.3s ease;
}

.slider::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    background: #fff;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    transition: transform 0.3s ease;
}

.toggle input:checked ~ .slider {
    background: linear-gradient(135deg, #4CAF50, #66BB6A);
}

.toggle input:checked ~ .slider::before {
    transform: translateX(20px);
}

.slider:hover {
    filter: brightness(0.95);
}

.toggle-text {
    font-size: 14px;
}